<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Baby Picture Contest</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#/main">Vote</a></li>
        <li><a href="#/upload">Upload</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="main row" ng-ctrl="mainCtrl">
  <div class="col-md-9">
    <div class="pictures row">
      <div class="pictures__item col-md-4 text-center" ng-repeat="pic in matches">
        <img src="images/yeoman.png">
        <h4>{{pic.picture}}</h4>
        <div class="well" index="{{$index}}" lvl-drop-target="true" on-drop="makeMatch(dragEl,dropEl)"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <ul class="players nav nav-pills nav-stacked">
      <li class="players__player" ng-repeat="player in players">
        <a class="btn btn-info" href="#" lvl-draggable="true">{{player}}</a>
      </li>
    </ul>
  </div>
</div>
