<div class="col-sm-6">
  <h1>Sign Up</h1>
  <form>
    <fieldset class="form-group">
      <label for="firstname">First Name</label>
      <input name="firstname" class="form-control" type="text">

      <label for="lastname">Last Name</label>
      <input name="lastname" class="form-control" type="text">

      <label for="password">Password</label>
      <input name="password" class="form-control" type="{{passwordFieldType}}"><input name="showpassword" type="checkbox" checked ng-click="changePasswordFieldType()"><label for="showpassword">Show password</label>
    </fieldset>
  </form>
</div>
